---
layout: page
# The Archives of posts.
---

{% include lang.html %}

<div id="page-tag">
  {% assign posts_by_year = site.posts | group_by_exp: 'post', 'post.date | date: "%Y"' %}

  {% for year in posts_by_year %}
    <h1 class="ps-lg-2">
      {{ year.name }}
      <span class="lead text-muted ps-2">{{ year.items | size }}</span>
    </h1>
    <ul class="content ps-0">
      {% for post in year.items %}
        <li class="d-flex justify-content-between px-md-3">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          <span class="dash flex-grow-1"></span>
          <time
            class="text-muted small text-nowrap"
            data-ts="{{ post.date | date: '%s' }}"
            data-df="DD/MM"
          >
            {{ post.date | date: '%d/%m' }}
          </time>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>
